catboost==1.2.8
einops==0.8.2
flash_attn==2.8.3
huggingface_hub==0.35.1
joblib==1.5.1
kditransform==1.2.0
lightgbm==4.6.0
matplotlib==3.10.8
networkx==3.4.2
ngboost==0.5.10
numpy==2.4.4
packaging==26.1
pandas==3.0.2
pymoo==0.6.1.6
rtdl_num_embeddings==0.0.12
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
statsmodels==0.14.5
tabicl==2.0.3
tabm==0.0.3
torch==2.7.1+cu118
typing_extensions==4.15.0
~orch==2.7.1+cu118
